body {
  background-color: bisque;
  text-align: center;
}
.links {
  display: flex;
  justify-content: center;
}
.contact-link {
  padding: 5px 10px;
}
.photo-link {
  padding: 5px 10px;
}
.homepage-link {
  padding: 5px 10px;
}
